
/* Chrome Extension */

body{
    width: 400px;
    height: auto;
    background-image: linear-gradient(rgba(0,0,0, 0.6), rgba(0,0,0, 0.6)), url("../images/bookshelf.jpeg");
    font-family: 'Lato', sans-serif;
}

.btn-primary:hover {
    transform: scale(1.1, 1.1);
}

h3 {
    color:whitesmoke;
    font-size: 25px;
    text-align: center;
    margin-top: 20px; 

}

header {
    background-color: transparent;
    height: auto;
}
#header_div{
    color:whitesmoke;
    font-size: 18px;
    text-align: center;
    margin-top: 20px;
}

.userLabel {
    text-align: center;
}

#userName, #newBMTitle {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-size: 16px;
    margin-bottom: 20px;
}


.sidebar-brand {
    background-color: transparent;
    margin: 0 2%;
    color: #eee;;
}

#userEmail{
    color: #fff;
    margin: 0px;
}
#newUserButton, #logoffButton {
    background-color: orange;
    width: 40%;
    font-size: 15px;
    border-radius:6px;
    margin: 0 auto;
    margin-bottom: 5px;
}

#homeBookmark {
    background-color: transparent;
    border-radius: 12px;
    margin: 0 auto;
}


.bookmarkButton {
    margin: auto;
}

#addBookmark {
    background-color: transparent;
    border-radius: 12px;
    margin: 0 auto;
    margin-bottom: 10px;
}


/* Bookmarkts HTML SideBar */

.sidebar-brand {
    text-align: center;
}

.form-group {
    width: 70%;
    margin: 0 auto;
}

#folderSubmitBtn {
    background-color: rgb(138, 4, 33);
    border-radius: 5px;
    border-color: rgb(138, 4, 33);
    width: 70%;
    margin: 2% auto;
}

.folderList, .AllBookmarks {
    height: 50px;
}

.folderList:hover {
    background-color: #3d444b;
}

.folderLabelDiv {
    margin: 0 auto;
}

.folderSubmitDiv {
    width: 65%;
    margin: 2% auto;
}
.folder-sidebar{
    width: 80%;
    margin: auto;
}
.form-control{
    background-color: rgb(223, 242, 255);
}

.imageClass {
    color: #0A0A0A;
}

.searchImg{
    height: 20px;
    width: 20px;
}

/* Bookmarks HTML Main Content */


.header {
  background-color: rgb(4, 0, 34);
  margin: 0 auto;
  padding: 0.8%;
}

#menu-toggle {
    margin-top: 9% 10%;
    border-radius: 6px;
}

.emailForm {
    margin: auto;
}

#userName {
    margin-top: 5%;
}

/* .loginButton {
    margin-left: 0px;
    padding-left: 0px;
} */

#returnUserButton {
    background-color: rgb(4, 140, 21);
    margin-top: 23%;
    font-size: 16px;
    border-radius: 6px;
}

#searchBookmarks {
    margin-top: 2% 8%;
}

#searchBookmarksBtn {
    margin-top: 25%;
    margin-left: -10px;
}


.main {
    background-image: linear-gradient(rgba(0,0,0, 0.5), rgba(0,0,0, 0.5)), url("../images/bookshelf.jpeg");
    background-position: center center;
    background-size: cover;
    vertical-align: middle;
    height: 700px;
    overflow: scroll;
}

.bmBox {
    height: 340px;
    background: linear-gradient(to bottom, #40a5fb8a, #000b40);
    margin-top: 1%;
    margin-left: 2%;
    border-radius: 3px;
    border: 2px solid rgb(35, 33, 139);
    box-shadow: 5px 10px 6px rgb(24, 24, 24);
    transition: all 0.3s ease-in-out;
    color: white;
}

.bmBox:hover {
    transform: scale(1.10, 1.10);
    }

.bmTitleDiv {
    margin: 5% 0% 5% 0%;
    height: 100px;
    border-radius: 5px;
    text-align: center;
    overflow: auto;
}

.bmTitle{
    font-size: 20px;
}

.btnStyle {
    background: linear-gradient(to bottom, rgb(95, 148, 223), rgb(7, 96, 223));
    margin: 5% 0% 5% 0%;
    height: 60px;
    border-radius: 5px;
    /* margin: 0 auto; */
}

.urlBtn {
    background-color: whitesmoke;
    height: 80%;
    width: 60%;
    font-size: 19px;
    margin-top: 3%;
    margin-left: 20%;

}

.garbageBtn {
    margin: 0 auto;
}

.bmFolderDiv {
    margin: 5% 0% 5% 0%;
    vertical-align: middle;
    height: 80px;
    border-radius: 5px;
    border: #ffffff69 1px solid;
    text-align: center;
    overflow: auto;
}

.deleteStyle {
    background: linear-gradient(to bottom, rgb(189, 52, 2), rgb(64, 18, 1));
    margin: 5% 0% 5% 0%;
    height: 40px;
    border-radius: 5px;
    text-align: center;
}


.folderList, .AllBookmarks {
    color: whitesmoke;
    font-size: 20px;
    text-align: center;
}



/* Bookmarks HTML Footer */

.footer {
    width: 100%;
    margin: 0 auto;
    background-color: rgb(4, 0, 34);
    height: 50px;
    bottom: 0;
}

.crtext {
    font-size: 12px;
    color: whitesmoke;
    margin: 0 auto;
    margin-top: 10px;
}


/* Modal Styling */
.warning_mssg {
    color: red;
}
.modal{
    color: linear-gradient(to bottom, rgb(4, 65, 151), rgb(2, 12, 146));
    text-align: center;
}

