
/* Bookmarks HTML Main Content */

html, body{
    width: 400px;
    height: 100%;
    background-image: linear-gradient(rgba(0,0,0, 0.6), rgba(0,0,0, 0.6)), url("../images/bookshelf.jpeg");
    font-family: 'Lato', sans-serif;
}

.header {
  background-color: rgb(4, 0, 34);
  margin: 0 auto;
  padding: 0.8%;
}

#menu-toggle {
    margin-top: 9% 10%;
    border-radius: 6px;
}

.emailForm {
    margin: auto;
}

#userName {
    margin-top: 5%;
}

#userEmail{
    color: #fff;
    margin: 0px;
}

#searchBookmarks {
    margin-top: 2% 8%;
}

#searchBookmarksBtn {
    margin-top: 25%;
    margin-left: -10px;
}


.main {
    background-image: linear-gradient(rgba(0,0,0, 0.5), rgba(0,0,0, 0.5)), url("../images/bookshelf.jpeg");
    background-position: center center;
    background-size: cover;
    vertical-align: middle;
    height: 700px;
    overflow-y: scroll;
    margin-left: 4%;
}

.bmBox {
    height: 330px;
    background: linear-gradient(to bottom, #40a5fb8a, #000b40);
    margin-top: 2%;
    margin-left: 2%;
    border-radius: 3px;
    border: 2px solid rgb(35, 33, 139);
    box-shadow: 5px 10px 6px rgb(24, 24, 24);
    transition: all 0.3s ease-in-out;
    color: white;
}

.bmBox:hover {
    transform: scale(1.10, 1.10);
    }

.bmTitleDiv {
    margin: 5% 0% 5% 0%;
    height: 100px;
    border-radius: 5px;
    text-align: center;
    overflow: auto;
}

.bmTitle{
    font-size: 20px;
}

.btnStyle {
    background: linear-gradient(to bottom, rgb(95, 148, 223), rgb(7, 96, 223));
    margin: 5% 0% 5% 0%;
    height: 60px;
    border-radius: 5px;
}

.urlBtn {
    background-color: whitesmoke;
    height: 80%;
    width: 60%;
    font-size: 19px;
    margin-top: 3%;
    margin-left: 20%;

}

.garbageBtn {
    margin: 0 auto;
}

.bmFolderDiv {
    margin: 5% 0% 5% 0%;
    vertical-align: middle;
    height: 80px;
    border-radius: 5px;
    border: #ffffff69 1px solid;
    text-align: center;
    overflow: auto;
}

.deleteStyle {
    background: linear-gradient(to bottom, rgb(189, 52, 2), rgb(64, 18, 1));
    margin: 5% 0% 5% 0%;
    height: 40px;
    border-radius: 5px;
    text-align: center;
}
.deleteStyle:hover {
    cursor: pointer;
}

.deleteFolderBtn{
    background: rgba(255, 255, 255, 0);
    padding: 0 3%;
    margin-left: 2%;
    border: 0px white solid;
    color: white;
    border-radius: 5px;
}
.deleteFolderBtn:hover {
    cursor: pointer;
    background: rgba(255, 0, 0, 0.603);
}

.folderList, .AllBookmarks {
    color: whitesmoke;
    font-size: 20px;
    text-align: center;
}
.folderList{
    margin-bottom: 2%;
}
.AllBookmarks {
    border-radius: 5px;
}

/* Bookmarkts HTML SideBar */


.page-content-wrapper {
    width: 180vh;
    position: absolute;
    padding: 0px 15px;
    transition: all 0.3s ease-in-out;
}  


.WidthChange{
    width: 150vh;
    position: absolute;
    padding: 0px 15px;
    transition: all 0.3s ease-in-out;
}

.userLabel {
    text-align: center;
}

#userName, #newBMTitle {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-size: 16px;
    margin-bottom: 20px;
}

.sidebar-brand {
    background-color: transparent;
    margin: 0 2%;
    color: #eee;
    text-align: center;
}

.form-group {
    width: 70%;
    margin: 0 auto;
}

#folderSubmitBtn {
    background-color: rgb(138, 4, 33);
    border-radius: 5px;
    border-color: rgb(138, 4, 33);
    width: 70%;
    margin: 2% auto;
}

.folderList, .AllBookmarks {
    height: 50px;
}

.folderLabelDiv:hover , .AllBookmarks:hover {
    background-color: #e2e8ef3b;
    cursor: pointer;
}

.folderLabelDiv {
    margin: 0;
    display: inline-block;
    padding: 3% 8%;
    border-radius: 5px;
    font-size: 15px;
}
.folderLabelDivText{
    margin-top: 5px;
}

.folderSubmitDiv {
    width: 65%;
    margin: 2% auto;
}
.folder-sidebar{
    width: 80%;
    margin: auto;
}
.form-control{
    background-color: rgb(223, 242, 255);
}

.imageClass {
    color: #0A0A0A;
}

.searchImg{
    height: 20px;
    width: 20px;
}

/* Bookmarks HTML Footer */

.footer {
    width: 100%;
    margin: 0 auto;
    background-color: rgb(4, 0, 34);
    height: 50px;
    bottom: 0;
}

.crtext {
    font-size: 12px;
    color: whitesmoke;
    margin: 0 auto;
    margin-top: 10px;
}
#bookmarksDisplay {
    width: 100%;
}


/* Modal Styling */

.warning_mssg {
    color: red;
}

.modal-content {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    outline: 0;
    background: linear-gradient(#053cb7, #05247d);
    color: white;
    padding: 5% 0% 10%;
}
.modal-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 1rem;
    border-top: 0px solid #e9ecef00; 
}
.modal-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; 
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 0px solid #e9ecef00;
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem;
    margin: auto;
}
.modal-dialog {
    max-width: 500px;
    margin: 6.75rem auto;
}
#returnUserButtonModal{
    width: 75%;
    margin: auto;
}
.loginP{
    text-align: center;
}