body{
    width: 400px;
    height: 375px;
    /* background: linear-gradient(to right, rgb(151, 154, 153), rgb(101, 103, 103)); */
    font-family: 'Lato', sans-serif;
}

h3 {
    color: #2b2a28;
    font-size: 20px;
    text-align: center;
}

header {
    background-color: aqua;
    height: 200px;
}

.userLabel {
    text-align: center;
}

#userName{
    width: 60%;
    margin: 0 auto;
}

#bookmarkWidow {
    background-color: slategray;
    border-radius: 12px;
    margin: 0 auto;
}

#newUserButton {
    background-color: red;
    border-radius:6px;
    margin: 0 auto;

}

#returnUserButton {
    background-color: seagreen;
    border-radius:6px;
    margin: 0 auto;

}


#addBookmark {
    background-color: slategray;
    border-radius: 12px;
    margin: 0 auto;
}

#bookmarkWindow {
    background-color: slategray;
    border-radius: 12px;
    margin: 0 auto;
}
/* Bookmarkts HTML SideBar */

.sidebar-brand {
    text-align: center;
}

.form-group {
    width: 80%;
    margin: 0 auto;
}

#folderSubmitBtn {
    background-color: slategray;
    border-radius: 6px;
    width: 40%;
    margin-left: 25%;
    margin-top: 10px;
}

/* Bookmarks HTML Main Content */

.header {
  background-color: rgb(35, 33, 139);
  border-bottom-color: black;
  margin: 0 auto;
}

#menu-toggle {
    margin-top: 10px;
}
#searchBookmarks {
    width: 60%;
    margin-left: 20%;
}
#searchBookmarksBtn {
    margin-top: 10px;
    margin-left: -10px;
}

.main {
    background-image: linear-gradient(rgba(0,0,0, 0.7), rgba(0,0,0, 0.7)), url("../images/bookshelf.jpeg");
    background-position: center center;
    background-size: cover;
    vertical-align: middle;
    height: 750px;
}

.bmBox {
    height: 175px;
    width: 150px;
    background-color:greenyellow;
    margin-top: 10px;
    margin-left: 25px;
    border-radius: 12px;
}

.bmTitleDiv {
    background-color: salmon;
    height:125px;
}

.bmTitle{
    font-size: 16px;
    text-align: center;
}

.bmFolderDiv {
    background-color: blue;
    height: 50px;
    border-top: solid 2px black;
}

.bmFolder {
    font-size: 16px;
    text-align: center;
}

/* Bookmarks HTML Footer */

.footer {
    width: 100%;
    margin: 0 auto;
    background-color: rgb(35, 33, 139);
    height: 50px;
    bottom: 0;
}

.crtext {
    font-size: 12px;
    color: whitesmoke;
    margin: 0 auto;
    margin-top: 10px;
}




